@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.mobile, .desktop {
  display: none;
}
@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
  }
  .container {
    background-color: #fff;
    border-radius: 15px;
    margin: 10% 5%;
  }
  .container img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  .inner-container {
    padding: 20px;
  }
  .sub-heading {
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .product-name {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .para {
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
  }
  .price-row {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .price {
    color: hsl(158, 36%, 37%);
  }
  .strike {
    margin-left: 15px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    text-decoration: line-through;
  }
  .cart {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 7px;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  }
  .cart:hover {
    background-color: #1a4031;
  }
  .cart-icon {
    margin-right: 10px;
  }
}

.attribution {
  padding: 15px 0px 15px 0px;
  background-color: hsl(212, 21%, 14%);
  color: #fff;
}
.attribution a {
  color: hsl(30, 38%, 92%);
  text-decoration: none;
}
@media only screen and (min-width: 1440px) {
  body {
    max-height: 100vh;
    font-size: 16px;
  }
  .desktop {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
  }
  .container {
    width: 50%;
    height: auto;
    background-color: #fff;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    padding: 0px;
  }
  .col-1 {
    display: flex;
    width: 50%;
    height: auto;
    float: left;
  }
  .col-1 img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
  }

  .col-2 {
    display: flex;
    position: relative;
    width: 50%;
    height: auto;
  }
  .inner-container {
    margin: 10%;
    align-self: center;
  }
  .sub-heading {
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
    font-size: 1.2em;
    padding-bottom: 1.5em;
    font-weight: 500;
  }
  .product-name {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1em;
    padding-bottom: 1em;
  }
  .para {
    font-size: 1em;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
  }
  .price-row {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .price {
    color: hsl(158, 36%, 37%);
    font-size: 2.5em;
    font-weight: 700;
    font-family: "Fraunces", sans-serif;
  }
  .strike {
    margin-left: 15px;
    color: hsl(228, 12%, 48%);
    font-size: 1em;
    font-weight: 500;
    text-decoration: line-through;
  }
  .cart {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0px solid hsl(158, 36%, 37%);
    border-radius: 7px;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
  }
  .cart:hover {
    background-color: #1a4031;
  }
  .cart-icon {
    margin-right: 0.5em;
  }
  .attribution {
    height: 6vh;
  }
}
.attribution {
  text-align: center;
  font-size: 12px;
}
